# SPDX-FileCopyrightText: The Khronos Group Inc.
# SPDX-License-Identifier: CC-BY-4.0

# Ignore import metadata from game engines.
*.import
*.meta
*.uid

# System/tool specific ignores
._*
.DS_Store
~*
